/* General Header Styles */
.header {
  /* background-color: #120b0b; */
  border-bottom: 5px solid #003366;
  margin: 0px;
  padding: 0px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent ;
}

.left-section, .center-section, .right-section {
  display: flex;
  align-items: center;
}

/* Ensure logos are styled properly */
.left-section .gov-logo, 
.center-section .cyber-logo, 
.right-section .azadi-logo {
  height: 70px;
  margin-right: 10px;
}

.ministry-text {
  font-size: 14px;
  text-align: center;
  color: black;
}

.ministry-text p {
  margin: 0;
  color: black;
  text-align: center;
}

.center-section {
  display: flex;
  flex-direction: column; /* Stacks title elements vertically */
  align-items: center; /* Centers elements within the center section */
  text-align: center;
  color: black;
}

.portal-title {
  text-align: center;
  justify-content: center;
}


.hindi-title {
  font-size: 18px;
  font-weight: bold;
}

.english-title {
  font-size: 20px;
  font-weight: bold;
  margin-right: 140px;
  text-align: center;
}

/* Navigation Styles */
.nav-section {
  background-color: #0056A1;
  /* padding: 10px 0; */
  width: 100%;
  text-align: center; /* Center align the nav */
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 80px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.nav-links li a:hover {
  text-decoration: underline;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column; /* Stack the sections vertically */
    text-align: center;
  }

  .nav-links {
    flex-direction: column; /* Stack navigation links vertically */
    align-items: center;
  }

  .nav-links li {
    margin-bottom: 10px; /* Add space between stacked links */
  }
}