.banner {
    background-image: url('/src/assets/banner.jpeg'); /* Path to your image */
    background-size: cover; /* Ensures the whole image is visible */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    color: #ffffff;
    text-align: center;
    padding: 50px 20px;
    height: 650px;
    min-height: 300px; /* Ensures the banner takes up enough vertical space */
  }
  
  .banner-content h2 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 200px
  }
  
  .banner-content p {
    font-size: 15px;
    margin: 10px 0;
    text-align: center;
    vertical-align:middle;
    
  }
  
  .banner-contact {
    margin-top: 20px;
    margin-bottom: 250px;
  }
  
  /* .banner-btn {
    background-color: #28a745;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
  } */
  
  .banner-btn:hover {
    background-color: #218838;
  }
  
  .stats-banner {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 4px;
    max-width: 1200px;
    margin: 20px auto;
    margin-top: 360px;
    
}
.stat-item {
    text-align: center;
}
.stat-icon {
    font-size: 24px;
    color: #c0a060;
    margin-bottom: 5px;
}
.stat-value {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.stat-label {
    font-size: 14px;
    color: #666;
    margin: 0;
    text-transform: uppercase;
}
.navy-text {
    color: #000080;
}

  /* Responsive adjustment */
  @media (max-width: 768px) {
    .banner {
      background-size: cover; /* For smaller screens, allow the image to cover more space */
      background-position: center;
      min-height: 200px; /* Adjust the height for mobile screens */
    }
  
    .banner-content h2 {
      font-size: 24px;
    }
  
    .banner-content p {
      font-size: 18px;
    }

    .stats-banner {
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1px; /* Reduced padding */
        max-width: 1200px;
        margin: 20px auto;
    }
    
    .stat-item {
        text-align: center;
    }
    
    .stat-icon {
        font-size: 20px; /* Slightly reduced icon size */
        color: #c0a060;
        margin-bottom: 3px; /* Reduced margin */
    }
    
    .stat-value {
        font-size: 20px; /* Slightly reduced font size */
        font-weight: bold;
        margin: 0;
    }
    
    .stat-label {
        font-size: 12px; /* Reduced font size for labels */
        color: #666;
        margin: 0;
        text-transform: uppercase;
    }
    
    .navy-text {
        color: #000080;
    }
    

  }
  